<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CyberHawksPortal" connectionString="Server=sql1.cyberhawks.lab;Database=CyberHawksPortal;User Id=svc-web;Password={{ svc_web_password }};" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" timeout="20" />
  </system.web>
</configuration>
