[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
vault_password_file = /root/.ansible-secrets/cyberrange_vault_pass
roles_path = roles

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
